<div class="Box col-sm-12 col-md-12 d-flex flex-wrap py-3">
    <div class="col-sm-12 col-md-2 py-2">
      <p class="post-meta col-sm-6 col-md-12 d-inline-block">{{ post.date | date: date_format }}</p>
      {%- if post.label  -%}
        <p class="post-meta col-sm-6 col-md-12 d-inline-block px-2">
          <span title="Label: outline label" class="Label Label--outline"> {{ post.label}} </span>
        </p>
      {%- endif -%}
    </div>
    
    <div class="col-sm-12 col-md-6 py-1 flex-sm-order-2 flex-md-order-1">
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <p class="post-meta-description">{{ post.description }}</p>
    </div>

    <div class="col-sm-12 col-md-4 py-1 flex-sm-order-1 flex-md-order-2">
        <img class="image-preview float-right" src="{{ post.image | relative_url }}" />
    </div>

  </div>