/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 


/** links **/
a {
    color: #007bff;
}

a:visited {
    color: #007bff;
}

/** styles for Site Title on Navbar [START] **/

.site-title, .site-title:visited {
    color: #007bff !important;
    padding: 0 20px !important;
    background: rgba(0,123,255,.0627451) !important;
}

/** styles for Site Title on Navbar [END] ------------**/

/** Styles for Post Cards shown on Home [START] **/

// Make Post list on Home page stretch wider
@media screen and (min-width: 800px){
    .wrapper {
        max-width: calc(1024px - (30px * 2)) !important;
    }
    .post{
        width:calc(800px - 30px);
        margin: auto
    }
}

// Remove default border from Post Card and add only a separator below
.Box {    
    border: transparent !important;
    border-bottom: 1px solid #e7e7e7 !important;
}
.Box .image-preview{
    max-height: 150px;
    width: 300px;
    object-fit: cover;
}

/** Styles for Post Cards shown on Home [END] ------------**/

/** Styles for Post Article page [START] **/

// Post Header
.post-header {
    margin-bottom: 60px;
}

// Post Header - Title
.post-title, .post-content h1, .post-content h2, .post-content h3 {
    color: #535b61;
}

// Post Header - Github and Colab buttons 
header.post-header div.pb-5 {
    padding: 0px !important;
    margin-top:-50px;
}

// Post Body - Text
.post-content p, .post-content li {
    font-size: 1.06rem !important;
    line-height: 1.7em;
}

// Post Body - Code block
.text_cell_render pre,.text_cell_render code{
    color: rgb(0, 122, 255);
    background-color: #f1f7fe;
    border: 1px solid #edf3f8;
}

// Post Body - Code Output block
.output_area pre, .output_area code{
    color: rgb(42, 51, 62);
    background-color: #e2e2e2;
    border: 1px solid #edf3f8;
}

