/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 


/** Styles for Post Cards shown on Home [START] **/

.Box {    
    border: transparent !important;
}

.Box.box-shadow-medium {
    box-shadow: 0 10px 35px rgba(0,0,0,.1) !important;
}

.Box.rounded-1 {
    border-radius: 7px !important;
}

/** Styles for Post Cards shown on Home [END] ------**/
